.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME */
.custom-banner {
  background-image: url("banner.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}
.banner-font {
  font-family: "kollektif";
  color: #f8f5f0;
  font-size: 3rem;
}
.home-body-p {
  font-size: 1.5rem;
}
.custom-home-row {
  background-color: #f8f5f0;
  font-family: "kollektif";
  text-align: center;
}

.custom-banner2 {
  background-image: url("banner2.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* INFO */
.info-1-img {
  background-image: url("stingray.jpg");
}
.info-2-img {
  background-image: url("wedgefish.jpg");
}
.info-3-img {
  background-image: url("fishstall.jpg");
}
.custom-info-img {
  height: 18rem;
  background-size: 100% 100%;
}

.info-text h2 {
  color: #93b0bb;
}
