body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "kollektif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "kollektif", monospace;
  -beige: #f8f5f0;
  -grey: #666666;
}

@font-face {
  font-family: "kollektif";
  src: local("kollektif"), url(./fonts/Kollektif.ttf) format("truetype");
}
